*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(12, 8, 8);


}

main{
    background-color: rgba(167, 0, 31, 0.67);
    width: 1080px;
    margin: auto;
    padding: 10px;
    box-shadow: 10px 3px 15px #3c1b1b;
}